@import "tailwindcss";

@plugin "daisyui" {
  themes: fridgemate --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "fridgemate";
  default: true;

  --color-primary: #16a34a;
  --color-primary-content: #ffffff;

  --color-secondary: #38bdf8;
  --color-secondary-content: #ffffff;

  --color-accent: #f97316;
  --color-accent-content: #ffffff;

  --color-neutral: #1f2937;
  --color-neutral-content: #f9fafb;

  --color-base-100: #f7fff2;
  --color-base-200: #edffe0;
  --color-base-300: #e5e7eb;
  --color-base-content: #111827;

  --color-info: #3b82f6;
  --color-info-content: #ffffff;

  --color-success: #22c55e;
  --color-success-content: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-content: #111827;

  --color-error: #ef4444;
  --color-error-content: #ffffff;
}